body {
    font-family: "DynaPuff";
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: antiquewhite;
}
main {
    height: 100vh;
    width: 100vw;
    display: flex;
}




.inputbar {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.inputbar-display {
    background-color: rgb(48, 45, 43);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}
.pokedex-sprites-container > img {
    margin: 0px;
    height: clamp(20px, 3.8vw, 65px);
}
.pokedex-sprites-container > img:hover {
    height: clamp(25px, 4.2vw, 75px);
    cursor: pointer;
}
.enter-description-label {
    font-size: clamp(0.6rem, 0.8rem, 4rem);
    padding-top: clamp(20px, 2vw, 60px);
    padding-bottom: 5px;
    color: rgb(218, 203, 183);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enter-description-input {
    width: clamp(80px, 25vw, 600px);
    height: clamp(20px, 3vw, 60px);
    padding: 0px 15px 0px 15px;
    font-family: "Sour Gummy";
    font-size: clamp(1rem, 1.4vw, 1.5rem);
    font-weight: 500;
    border-radius: 15px;
    border: 5px solid rgb(247, 231, 216);
    color: rgb(70, 66, 60);
    background-color: rgb(253, 246, 239);
    margin: 0px;
    transition: border 0.2s ease
}
.enter-description-input::placeholder {
    color: lightgray;
}
.enter-description-input:hover {
    border: 5px solid rgb(189, 175, 163)
}
.enter-description-input:focus {
    outline: none;
}




.display-prompt-and-pokemon {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}
.promptbar {
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.promptbar-display {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(218, 203, 183);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(48, 45, 43);
    box-sizing: border-box;
    padding: 0px 40px;
    overflow: hidden;
}
.animate-slide {    
    transform: translateY(-150%);
    opacity: 0;
    animation: slideDown 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards
}
@keyframes slideDown {
    0% { transform: translateY(-150%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
.animate-squash-cycle {
    animation: squashAndRelease 0.5s ease-in-out !important;
}
@keyframes squashAndRelease {
    0% { transform: scaleY(1); opacity: 1; }
    50% { transform: scaleY(0); opacity: 0; } 
    100% { transform: scaleY(1); opacity: 1; }   
}
.promptbar-display > h1 {
    margin: 0px; 
    font-size: clamp(1rem, 2.5vw, 3rem);
    text-align: center;
    font-family: "Sour Gummy";
}





.display-pokemon {
    box-sizing: border-box;
    padding: 0px 30px 30px 30px;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
}
.display-pokemon-container {
    background-color: rgb(218, 203, 183);
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 20px;
    overflow: auto;
    border: 10px solid rgb(48, 45, 43);
}
.display-pokemon-container::-webkit-scrollbar {
    display: none;
}
.pokemon-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 231, 216);
    border-radius: 20px;
    margin-bottom: 15px;
    transition: background-color 0.2s ease, color 0.2s ease;

    opacity: 0; 
    transform: translateY(20px);
    
    animation: cardEntrance 0.4s ease-out;
    animation-delay: var(--delay, 0s);
    animation-fill-mode: forwards; 
}
.entry-left {
    flex: 1;
}
.entry-right {
    display: flex;
    align-items: center;
}
.pokemon-entry:hover {
    background-color: rgb(206, 190, 176);
    outline: 2px solid;
    cursor: pointer;
}
@keyframes cardEntrance {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
.animated-image {
    height: 75px;
    width: 75px;
    object-fit: contain;
    display: block;
}
.loading-pokeball {
    height: clamp(50px, 8vw, 500px);
    margin-bottom: 20px;
}
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.extra-details-main-container {
    display: flex;
    align-items: center;
}
.extra-details-main-container > p {
    text-align: left;
    font-family: "Sour Gummy";
    font-size: 1.2rem;
    margin: 0px 15px;
    color: rgb(48, 45, 43);
}
.extra-details-types {
    display: flex;
    align-items: center;
}
.extra-details-stats {
    background-color: rgb(245, 230, 217);
    padding: 10px;
    margin: 8px;
    border-radius: 20px;
    border: 2px solid;
    transition: border 0.3s ease;
}
.extra-details-stats:hover {
    border: 2px solid rgb(240, 218, 200);
}
.stat-row {
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.stat-row > span {
    margin: 0px;
    font-family: "Sour Gummy"
}
.type-icon-bar {
    display: flex;
    flex-direction: column;
}
.type-icon-bar > img {
    background-color: rgb(245, 230, 217);
    margin: 3px 0px 3px 3px;
    border-radius: 40px 0px 0px 40px;
    padding: 5px;
    height: 25px;
}





.helpful-data {
    width: 100%;
    height: 45%;
    box-sizing: border-box;
    padding: 40px 33px 0px 33px;
}
.helpful-data-container {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    transition: all 1s ease-in-out;
    transform: translateY(100px);
    opacity: 0;
    pointer-events: none;
}
.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.sort-by-text {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgb(221, 209, 192);
}
.reset-buttons-container {
    gap: 10px;
}
.reset-buttons-container > button {
    border: 3px solid rgb(102, 96, 89);
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "DynaPuff";
    background-color: rgb(131, 125, 117);
    transition: border 0.2s ease;
    transition: background-color 0.2s ease;
    width: 100%;
}
.reset-buttons-container > button:hover {
    cursor: pointer;
    border: 3px solid rgb(223, 205, 188);
    background-color: rgb(221, 200, 184);
}
.sorting-buttons-container {
    background-color: rgb(78, 73, 68);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.sorting-buttons-container > button {
    padding: 7px;
    border-radius: 15px;
    background-color: rgb(218, 203, 183);
    font-family: "Sour Gummy";
    border: 3px solid rgb(97, 88, 83);
    transition: border 0.3s ease;

}
.sorting-buttons-container > button:hover {
    cursor: pointer;
    border: 3px solid rgb(201, 188, 172);
}
.sorting-buttons-container > button.current-filter {
    background-color: rgb(129, 116, 103);
}





.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55%;
}
.three-d-model-container {
    background-color: rgb(211, 190, 176);
    height: 85%;
    width: 35%;
    border-radius: 30px;
    border: 8px solid black;
    transition: border 0.2s ease;
}
.three-d-model-container:hover {
    cursor: pointer;
    border: 8px solid rgb(92, 84, 76);
}
.name-index-container {
    background-color: rgb(61, 57, 53);
    height: clamp(200px, 35vw, 550px);
    width: clamp(75px, 13vw, 450px);
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
}
.name-index-container > h3 {
    margin: 0px;
    font-size: clamp(0.7rem, 1.8vw, 2.7rem);
    color: rgb(255, 239, 218);
    text-align: center;
}
.name-index-container > p {
    margin: 0px;
    color: rgb(179, 165, 148);
    font-family: "Sour Gummy";
}
.stats-container {
    background-color: rgb(61, 57, 53);
    height: clamp(200px, 35vw, 550px);
    width: clamp(200px, 47vw, 1300px);
    border-radius: 0px 30px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.statbars-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 45px 20px 20px;
}
.statbars-row {
    display: flex;
    align-items: center;
    width: 100%;
}
.statbar-label {
    width: clamp(40px, 45vw, 200px);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statbar-label > h3 {
    margin: 0px;
    font-size: 1.2rem;
    color: rgb(228, 213, 195);
}
.statbar-label > p {
    color: rgb(146, 136, 123);
    font-size: 0.7rem;
    margin-right: 6px;
}
.bar-background {
    flex-grow: 1;
    height: 50%;
    overflow: hidden;
}
.bar-fill {
    height: 100%;
    background-color: rgb(141, 185, 127);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
}



.type-logic-wrapper {
    background-color: red;
}
.types-container {
    background-color: rgb(228, 211, 200);
    padding: 6px 6px;
    border-radius: 15px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    height: 50px;
    padding: 0px 20px;
}

.display-type-effectiveness-row {
    display: flex;
    align-items: center;
}
.type-list > img {
    height: 30px;
    margin: 3px;
}
.pokemon-types-icons {
    height: 20px;
    margin: 0px 2px;
}










.information-body-container {
    
}